<?xml version='1.0' encoding='utf-8'?>
<widget id="com.krur.silo" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Silo</name>
    <description>
        An app dedicated to Silo.
    </description>
    <author email="stefano.cecere@krur.com" href="http://krur.com">
        Stefano Cecere @krur
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
