<ion-view>
    <ion-header-bar
            ng-controller="AppController"
            type="bar-assertive"
            title="'Silo'"
            left-buttons="menuButtons"
            ></ion-header-bar>

    <ion-content has-header="true" padding="true">

        <h3>{{ 'about' | translate }} Silo</h3>

        <div class="row">
            <div class="col">
                <p>Silo<br/>
                    Mario Rodríguez Cobos<br/>
                    6 jan 1938 - 16 sep 2010
                </p>

                <p><a href="http://www.silo.net" target="_blank">www.silo.net</a></p>
            </div>
            <div class="col">
                <img src="assets/img/silo.png"/>
            </div>
        </div>


    </ion-content>
</ion-view>
