<ion-view>
    <ion-header-bar class="bar-assertive">
        <div class="buttons">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </div>
        <h1 class="title">{{'Silo'}}</h1>
    </ion-header-bar>

    <ion-content padding="true">

        <h3>{{ 'about' | translate }} Silo</h3>

        <img src="assets/img/silo.png" style="float:right;"/>

        <p>Silo is the pseudonym of Mario Luis Rodríguez Cobos.</p>

        <p>He was born in 1938 near Mendoza, located between Argentina and Chile.</p>

        <p>He died on 16 september 2010.</p>

        <br/>

        <p>He is considered the founder of the New Humanism, which attitude can be summarized:</p>
        <ul>
            <li>Placing the human being as the central value and concern, in such a way that nothing is above the human being and no human being is above
                another.
            </li>
            <li>Affirming the equality of all human beings.</li>
            <li>Recognizing personal and cultural diversity, affirming the characteristics proper to each human group and condemning discrimination, whether
                motivated by economic, racial, ethnic, or cultural differences.
            </li>
            <li>Developing knowledge beyond the limitations imposed by prejudices accepted as absolute and immutable truths.</li>
            <li>Affirming the freedom of ideas and beliefs.</li>
            <li>Repudiating violence in all its forms.</li>
        </ul>

        <br/>

        <p>The texts in this app are taken from the original repository of all Silo's writings: <a href="http://www.silo.net" target="_blank">www.silo.net</a>
        </p>


    </ion-content>
</ion-view>
