<ion-view>
    <ion-header-bar
            ng-controller="AppController"
            type="bar-assertive"
            title="'Silo'"
            left-buttons="menuButtons"
            ></ion-header-bar>

    <ion-content has-header="true" padding="true">

        <h3>{{ 'about' | translate }} Silo</h3>

        <div class="row">
            <div class="col">
                <p>Silo is the pseudonym of Mario Luis Rodríguez Cobos. He was born in 1938 near Mendoza, located between Argentina and Chile.<br/>
                    He died on 16 september 2010
                </p>

            </div>
            <div class="col">
                <img src="assets/img/silo.png"/>
            </div>
        </div>

        <p>The texts in this app are taken from the original repository of all Silo's writings: <a href="http://www.silo.net" target="_blank">www.silo.net</a>
        </p>


    </ion-content>
</ion-view>
