<ion-view title="book.title">
    <ion-header-bar class="bar-assertive" ng-controller="AppController">
        <div class="buttons">
            <button ng-click="goBack()" class="button button-icon icon ion-ios7-arrow-back"></button>
        </div>
        <h1 class="title">{{book.title}}</h1>
        <div class="buttons">
            <button ng-click="openRightPanel()" class="button">Chapters</button>
        </div>
    </ion-header-bar>

    <ion-content padding="true" ng-class="stylemodeClass">
        <!--<p>{{ book.description }}</p>-->
        <!--<p>{{ 'language' | translate}}: {{ 'lang_' + book.lang | translate}}</p>-->

        <div class="book-text" contenteditable="true" ng-class="[textsizeClass]" ng-include="'assets/books/' + book.file +'.html'"></div>

    </ion-content>

    <div class="bar bar-footer">
        <div class="button-bar">
            <button ng-click="zoomInText()" class="button icon ion-minus"></button>
            <button ng-click="zoomOutText()" class="button icon ion-plus"></button>
            <button ng-click="changeStyle()" class="button icon ion-contrast"></button>
            <button ng-click="fullscreen()" class="button icon ion-arrow-expand"></button>
            <button ng-click="chapters()" class="button icon ion-bookmark"></button>
        </div>
    </div>
</ion-view>
