<ion-view>
    <ion-header-bar
            ng-controller="AppController"
            type="bar-assertive"
            title="{{'Silo'}}"
            left-buttons="menuButtons"
            ></ion-header-bar>

    <ion-content has-header="true" has-tabs="false" padding="true">
        <div class="text-center">
            <a ng-click="newQuote()"><img src="assets/img/logo_silo.png"/></a>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                {{randomQuote}}
            </div>
        </div>


    </ion-content>
</ion-view>
