<ion-view>
    <ion-header-bar
            ng-controller="AppController"
            type="bar-assertive"
            title="'options' | translate"
            left-buttons="menuButtons"
            ></ion-header-bar>

    <ion-content has-header="true" padding="true">

        <h3>{{ 'language' | translate}}:</h3>

        <div class="button-bar">
            <button ng-click="changeLanguage('en')" ng-class="curlang=='en' ? 'button button-dark' : 'button'">{{ 'lang_en' | translate }}</button>
            <button ng-click="changeLanguage('es')" ng-class="curlang=='es' ? 'button button-dark' : 'button'">{{ 'lang_es' | translate }}</button>
            <button ng-click="changeLanguage('fr')" ng-class="curlang=='fr' ? 'button button-dark' : 'button'">{{ 'lang_fr' | translate }}</button>
            <button ng-click="changeLanguage('it')" ng-class="curlang=='it' ? 'button button-dark' : 'button'">{{ 'lang_it' | translate }}</button>
        </div>

    </ion-content>
</ion-view>
