<ion-view>
    <ion-header-bar class="bar-assertive" ng-controller="AppController">
        <div class="buttons">
            <button ng-click="openLeftPanel()" class="button button-icon icon ion-navicon"></button>
        </div>
        <h1 class="title">{{'places' | translate}}</h1>
    </ion-header-bar>

    <div class="bar bar-subheader">
        <div class="button-bar">
            <a class="button">All</a>
            <a class="button">Parks</a>
            <a class="button">Communities</a>
        </div>
    </div>

    <ion-content start-y="55" ng-controller="PlacesController" has-header="true" has-subheader="true" has-footer=false">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" ng-model="searchString" placeholder="{{ 'search' | translate }}">
            </label>
            <button class="button button-clear" ng-if="searchString" ng-click="clearFilter()">
                <i class="icon ion-ios7-close"></i>
            </button>
        </div>

        <ion-list>

            <ion-item ng-repeat="place in places | filter:searchString" type="item-text-wrap" href="#/place/{{place.id}}">
                <h3>{{place.title}}</h3>

                <p>{{place.loc}} {{place.country}}</p>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>
