<ion-view>
    <ion-header-bar class="bar-assertive" ng-controller="AppController">
        <div class="buttons">
            <button ng-click="goBack()" class="button button-icon icon ion-ios7-arrow-back"></button>
        </div>
        <h1 class="title">{{place.title}}</h1>
    </ion-header-bar>

    <ion-content padding="true">

        <div class="card">
            <div class="item item-text-wrap">
                <p>{{ place.title }}</p>

                <p>{{ place.country }}</p>

                <p>{{ place.loc }}</p>

                <p>{{ place.contact }}</p>

                <p>{{ place.email }}</p>

                <p>{{ place.url }}</p>
            </div>
        </div>

        <app-map style="height:300px;margin:12px;"
                 center="coordinates"
                 zoom="10"
                 markers="whoiswhere"
                >
        </app-map>
    </ion-content>
</ion-view>
