<ion-view>
    <ion-header-bar
            ng-controller="AppController"
            type="bar-dark"
            title="'Places'"
            left-buttons="menuButtons"
            ></ion-header-bar>

    <ion-content ng-controller="PlaceIndexController" has-header="true">

        <div class="item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" ng-model="query" placeholder="Search">
            </label>
            <button class="button button-clear" ng-click="clearFilter()">
                Cancel
            </button>
        </div>

        <ion-list>

            <ion-item ng-repeat="place in places | filter:query" type="item-text-wrap" href="#/place/{{place.uid}}">
                <h3>{{place.title}}</h3>

                <p>{{place.loc}} {{place.country}}</p>

            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
