<ion-view>
    <ion-header-bar
            ng-controller="AppController"
            type="bar-dark"
            title="'places' | translate"
            left-buttons="menuButtons"
            ></ion-header-bar>

    <div class="bar bar-subheader">
        <div class="button-bar">
            <a class="button">All</a>
            <a class="button">Parks</a>
            <a class="button">Communities</a>
        </div>
    </div>

    <ion-content ng-controller="PlaceIndexController" has-header="true" has-subheader="true" has-footer=false">

        <div class="item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" ng-model="query" placeholder="{{ 'search' | translate }}">
            </label>
            <button class="button button-clear" ng-click="clearFilter()">
                {{ 'cancel' | translate }}
            </button>
        </div>

        <ion-list>

            <ion-item ng-repeat="place in places | filter:query" type="item-text-wrap" href="#/place/{{place.uid}}">
                <h3>{{place.title}}</h3>

                <p>{{place.loc}} {{place.country}}</p>

            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>
