<ion-content  has-header="false" ng-controller="AppController">
    <ion-list>
        <a ng-click="goToPage('home')" class="item item-icon-left" href="">
            <i class="icon ion-home"></i>
            {{ 'home' | translate }}
        </a>
        <a ng-click="goToPage('about')" class="item item-icon-left" href="">
            <i class="icon ion-ios7-information"></i>
            {{ 'about' | translate }} Silo
        </a>
        <a ng-click="goToPage('books')" class="item item-icon-left" href="">
            <i class="icon ion-folder"></i>
            {{ 'books' | translate }}
        </a>
        <a ng-click="goToPage('media')" class="item item-icon-left" href="">
            <i class="icon ion-images"></i>
            {{ 'media' | translate }}
        </a>
        <a ng-click="goToPage('places')" class="item item-icon-left" href="">
            <i class="icon ion-map"></i>
            {{ 'places' | translate }}
        </a>
        <div class="item-divider">
            &nbsp;
        </div>
        <a ng-click="goToPage('options')" class="item item-icon-left" href="">
            <i class="icon ion-gear-a"></i>
            {{ 'options' | translate }}
        </a>
        <a ng-click="goToPage('credits')" class="item item-icon-left" href="">
            <i class="icon ion-ios7-help-outline"></i>
            {{ 'credits' | translate }}
        </a>
    </ion-list>
</ion-content>
