<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">

    <!-- About Tab -->
    <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <!-- Books Tab -->
    <ion-tab title="Books" icon="icon ion-folder" href="#/tab/books">
        <ion-nav-view name="books-tab"></ion-nav-view>
    </ion-tab>

    <!-- media Tab -->
    <ion-tab title="Media" icon="icon ion-images" href="#/tab/media">
        <ion-nav-view name="media-tab"></ion-nav-view>
    </ion-tab>


    <!-- Places Tab -->
    <ion-tab title="Places" icon="icon ion-map" href="#/tab/places">
        <ion-nav-view name="places-tab"></ion-nav-view>
    </ion-tab>


    <!-- Options Tab -->
    <ion-tab title="Options" icon="icon ion-gear-a" href="#/tab/info">
        <ion-nav-view name="info-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
