<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">

    <!-- About Tab -->
    <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <!-- Books Tab -->
    <ion-tab title="Books" icon="icon ion-folder" href="#/tab/books">
        <ion-nav-view name="books-tab"></ion-nav-view>
    </ion-tab>

    <!-- media Tab -->
    <ion-tab title="Media" icon="icon ion-images" href="#/tab/media">
        <ion-nav-view name="media-tab"></ion-nav-view>
    </ion-tab>


    <!-- Map Tab -->
    <ion-tab title="Map" icon="icon ion-map" href="#/tab/map">
        <ion-nav-view name="map-tab"></ion-nav-view>
    </ion-tab>


    <!-- Info Tab -->
    <ion-tab title="Info" icon="icon ion-heart" href="#/tab/info">
        <ion-nav-view name="info-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
